<%- include('./partials/header') %>
<div class="flex justify-between mb-12 mt-12 text-center text-white">
  <h1 class="text-3xl">Follow our Creators</h1>
</div>
<!-- quote  -->
<div class="grid grid-cols-3 gap-5 mt-12">
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/cd/ef/93/cdef93d85bbc0ad6159a2d3f5d59d51c.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Deep Sarkar</h1>
        <h1 class="text-sm text-zinc-400">@deeeprr</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/bb/51/e4/bb51e4d132a2800df362315d75c5a266.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Lawseon</h1>
        <h1 class="text-sm text-zinc-400">@lawseon69</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/8c/c6/6a/8cc66a3927f5dc9bc598b8fb90faf0dc.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Valkyrie</h1>
        <h1 class="text-sm text-zinc-400">@vakyriepaw</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/cd/ef/93/cdef93d85bbc0ad6159a2d3f5d59d51c.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Deep Sarkar</h1>
        <h1 class="text-sm text-zinc-400">@deeeprr</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/bb/51/e4/bb51e4d132a2800df362315d75c5a266.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Lawseon</h1>
        <h1 class="text-sm text-zinc-400">@lawseon69</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
  <div
    class="bg-zinc-800 w-full h-[20vh] rounded-xl flex gap-6 items-center justify-between px-4"
  >
    <div class="flex gap-6 items-center">
      <img
        src="https://i.pinimg.com/564x/8c/c6/6a/8cc66a3927f5dc9bc598b8fb90faf0dc.jpg"
        alt=""
        class="w-24 h-24 bg-white rounded-full border border-purple-500 border-[3px] overflow-hidden object-cover"
      />
      <div class="text-white flex flex-col gap-1">
        <h1 class="text-xl">Valkyrie</h1>
        <h1 class="text-sm text-zinc-400">@vakyriepaw</h1>
      </div>
    </div>

    <div
      class="me-3 w-12 h-12 rounded-full bg-purple-500 flex items-center justify-center"
    >
      <span class="material-symbols-rounded text-white text-3xl"> add </span>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
